<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="navbar-brand">Bootstrap</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{{#is slug "getting-started"}} class="active"{{/is}}>
          <a href="./getting-started.html">Getting started</a>
        </li>
        <li{{#is slug "css"}} class="active"{{/is}}>
          <a href="./css.html">CSS</a>
        </li>
        <li{{#is slug "components"}} class="active"{{/is}}>
          <a href="./components.html">Components</a>
        </li>
        <li{{#is slug "js"}} class="active"{{/is}}>
          <a href="./javascript.html">JavaScript</a>
        </li>
        <li{{#is slug "customize"}} class="active"{{/is}}>
          <a href="./customize.html">Customize</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li{{#is slug "about"}} class="active"{{/is}}>
          <a href="./about.html">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
